<div *ngIf="usuarioActual">
  <p>{{usuarioActual.name}}</p>
</div>

<div *ngIf="formGroup" class="container">
  <form [formGroup]="formGroup">
    <div class="mb-3">
      <label class="form-label"
             for="email">
        Email
      </label>
      <input aria-describedby="emailHelp"
             class="form-control"
             formControlName="email"
             id="email"
             type="email">
      <div class="form-text"
           id="emailHelp">
        Ingrese un correo.
      </div>
      <div *ngIf="formGroup.get('email')">
        <div *ngIf="
             formGroup.get('email')?.invalid &&
             formGroup.get('email')?.touched &&
             formGroup.get('email')?.dirty
                    "
             class="alert alert-warning" role="alert">
          <span *ngIf="formGroup.get('email')?.hasError('required')">
            Correo requerido
          </span>
          <span *ngIf="formGroup.get('email')?.hasError('minlength')">
            Minimo de caracteres 3
          </span>
        </div>
      </div>
    </div>
    <button (click)="actualizarUsuario()"
            [disabled]="formGroup.invalid"
            class="btn btn-primary">
      GUARDAR
    </button>
    <!--    name -->
    <div class="mb-3">
      <label class="form-label"
             for="name">
        Name
      </label>
      <input aria-describedby="emailHelp"
             class="form-control"
             id="name"
             type="text">
      <div class="form-text"
           id="nameHelp">
        Ingrese un correo.
      </div>
    </div>
    <!--    phone -->
    <div class="mb-3">
      <label class="form-label"
             for="phone">
        Phone
      </label>
      <input aria-describedby="phonelHelp"
             class="form-control"
             id="phone"
             type="text">
      <div class="form-text"
           id="phoneHelp">
        Ingrese un telefono.
      </div>
    </div>
    <!--    username -->
    <div class="mb-3">
      <label class="form-label"
             for="username">
        Username
      </label>
      <input aria-describedby="usernamelHelp"
             class="form-control"
             id="username"
             type="text">
      <div class="form-text"
           id="usernameHelp">
        Ingrese el username.
      </div>
    </div>
    <!--    Website -->
    <div class="mb-3">
      <label class="form-label"
             for="website">
        Website
      </label>
      <input aria-describedby="websiteHelp"
             class="form-control"
             id="website"
             type="text">
      <div class="form-text"
           id="websiteHelp">
        Ingrese el website.
      </div>
    </div>
  </form>
</div>
