<nav class="navbar fixed-top navbar-light -expand-lg bg-white ">
  <a class="navbar-brand " href="#">
    <img src="assets/images/logo.svg" class="img-logo d-inline-block align-top p-0 m-0" alt="">
  </a>
  <form class="form-inline mb-0">
    <input class="form-control" type="search" placeholder="Search Reddit" aria-label="Search">
  </form>
  <div class="btn-toolbar" role="toolbar">
  <button class="btn" type="submit" id="btn-login">Log In</button>
  <button class="btn" type="submit" id="btn-signup">Sign Up</button>

  <div class="dropdown">
    <button class="btn btn-secondary " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="bi bi-person"></i>
      <i class="bi bi-chevron-down"></i>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
  </div>
</nav>
