
img{
    border-radius:50%;
    height:30px;
  width:30px;
    border: 1px solid;
  }
  .button-join{
    position: relative;
    background-color: #0079d3;
    border: none;
    color: #ffffff;
    fill: #ffffff;
    width:55px;
    font-family: 'Noto Sans', sans-serif;
    font-weight:bold;
    font-size: 12px;
    border-radius: 9999px;
  }
  .button:hover{
    background-color: #0080de;
  }
  .bi-chevron-up{
    color: #00ff33;
  }
.bi-chevron-down{
  color: #ff0000;
}
  .row *{
    font-family: 'IBM Plex Sans'
  }
