<a href="#">
<div class="card m-2 mt-0 mb-4" id="trendingPosts">
  <div class="card-img-overlay-container ">
    <div class="container-fluid ">
      <div class="row pl-2" >
        <h5 id="trending-title">{{trendingName}}</h5>
      </div>
      <div class="row pl-2">
        <h6 id="trending-desc" class="mr-2">{{trendingDescription}}...</h6>
      </div>
      <div class="row pl-2">
        <span id="related-trending">
          <img id="related-trending-img" [src]="trendingIcon" alt="related-trending">
          {{trendingSubr}}
        </span>
      </div>
    </div>
  </div>
</div>
</a>
