<div class="card m-2 mt-0 mb-4" id="trendingPosts" >
  <div class="card-img-overlay-container ">
    <div class="container-fluid ">
      <div class="row pl-2" >
        <h5 id="trending-title">Como ser cruceta</h5>
      </div>
      <div class="row pl-2">
        <h6 id="trending-desc">Descubra como ser cruceta y otras cositas como...</h6>
      </div>
      <div class="row pl-2">
        <span id="related-trending">
          <img id="related-trending-img" src="favicon.ico" alt="related-trending">
          r/davidgG and more
        </span>
      </div>
    </div>
  </div>
</div>
