<div class="container">
  <div class="row">
    <div class="col-1 pt-2" >
        <div class="row icon justify-content-center" >
          <img src="../../../../assets/images/upvote.svg" alt="">
        </div>
        <div class="row icon row justify-content-center" >
          <p class="vote-count">2.7k</p>
        </div>
        <div class="row icon row justify-content-center">
          <img src="../../../../assets/images/downvote.svg" alt="">
        </div>

    </div>
    <div class="col-11">

      <div class="row pl-2 metadata">

        <div class="col-9 align-self-center pt-2 pb-3">
          <div class="row">
            <img alt="related-trending" class="subr-img mr-1" src="favicon.ico">
          <p class="w-25">r/subrname</p>
          <p class="w-80">
            •Posted byu/DangitBebby 4 hours ago
          </p>
          </div>
        </div>

        <div class="col-3 align-self-center ">
          <div class="row justify-content-end mr-1">
            <button class="button-join " id="subscribe-button-t3_ryxnya" role="button"
                    tabindex="0">
              <span>Join</span></button>
          </div>
        </div>

      </div>
      <div class="row pl-2 mr-2 post-title">
        <p>
          Over 6,000 workers at Del Monte Kenya Unlimited are on strike over ‘inhuman’ working conditions. Del Monte
          declared the strike illegal, workers vowed to strike until their demands are met. “The strike goes on. All
          power to the Kenyan working class.”
        </p>
      </div>
      <div class="row post-image">
        <img alt="" alt=""
             class=w-100 src="http://pm1.narvii.com/7119/b0abdf491cffde4bdf95850956c1b15a5591a4b5r1-712-707v2_uhq.jpg">
      </div>

      <div class="row opciones-post align-items-center justify-content-start">

        <div class="col-1 comment-icon">
          <img alt="" id="comment-icon" src="assets/images/comment.svg" class="icon">
        </div>

        <div class="col-3 comment">
          <p>22.1k Comments</p>
        </div>

        <div class="col-1 share-icon">
          <img alt="" src="assets/images/share.svg" class="icon">
        </div>

          <div class="col-3 comment">
            <p>Share</p>
        </div>

        <div class="col-1 save-icon">
          <img alt="" src="assets/images/save.svg" class="icon">
        </div>

          <div class="col-3 comment">
            <p>Save</p>
        </div>

      </div>
    </div>
  </div>
</div>
