<div class="card" id="post-card">
  <div class="container" style="padding-left: 0;">
    <div class="row">
      <div class="col-1 left-col">
        <div class="row" id="upvote">
          <img alt="upvote"
               src="https://www.pngkit.com/png/full/207-2074397_reddit-clipart-icon-reddit-upvote-transparent.png">
        </div>
        <div class="row" id="vote-count">
          <p>2.7k</p>
        </div>
        <div class="row">
          <img alt=""
               id="downvote"
               src="https://external-preview.redd.it/E9AyV3ItG8hw1l2S_uUMoS2ficIpOfPfhXI7K3Gvfo4.png?auto=webp&s=d105042df445079c399d7581b9fc67d0579639a6">
        </div>
      </div>
      <div class="col-11">
        <div class="row top-data">
          <div class="col-1" id="subr-img">
            <img alt="related-trending" src="favicon.ico">
          </div>
          <div class="col-3 subr-name">
            <p>
              r/subrname
            </p>
          </div>
          <div class="col-5 post-user">
            <p>
              •Posted byu/DangitBebby
              4 hours ago
            </p>
          </div>
          <div class="col-2 join">
            <button class="button-join " id="subscribe-button-t3_ryxnya" role="button"
                    tabindex="0">
              <span>Join</span></button>
          </div>
        </div>
        <div class="row " id="post-title">
          <p>
            Over 6,000 workers at Del Monte Kenya Unlimited are on strike over ‘inhuman’ working conditions. Del Monte
            declared the strike illegal, workers vowed to strike until their demands are met. “The strike goes on. All
            power to the Kenyan working class.”
          </p>
        </div>
        <div class="row post-image">
          <img alt="" src="http://pm1.narvii.com/7119/b0abdf491cffde4bdf95850956c1b15a5591a4b5r1-712-707v2_uhq.jpg">
        </div>
        <div class="row opciones-post">
          <div class="col-1 comment-icon">
            <img alt="" id="comment-icon" src="https://friconix.com/png/fi-xtluxl-comment-square-thin.png">
          </div>
          <div class="col-3 comment">
            <p>22.1k Comments</p>
          </div>
          <div class="col-1 share-icon">
            <img alt="" src="https://cdn.iconscout.com/icon/free/png-256/share-2336520-1956482.png">
          </div>
          <div class="col-2 share">
            <p>Share</p>
          </div>
          <div class="col-1 save-icon">
            <img alt=""
                 src="https://cdn2.iconfinder.com/data/icons/user-interface-180/128/User-Interface-166-512.png">
          </div>
          <div class="col-2 save">
            <p>Save</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
