* {
    border: solid 0px
}

label {

    font-weight: bold;
}

p {
    margin-bottom: 0;
}

.container img {
    height: 100%;
    object-fit: cover;
}

.photo-person img {
    height: 30vh;
    object-fit: cover;
    border-radius: 100%;
}

.banner{
    border-bottom: solid 3px #dae0e0;
}
.active-tab{
    background-color: #d0d0d0;
}
footer *{
    font-size: 11px;

}