<body>
<div class="w-100 bg-white">
  <div class="top-banner pl-1 m-0">
  <span>
    MY SUBREDDIT
    <i class="bi bi-chevron-down"></i>
POPULAR  -  ALL - RANDOM - USERS | ASKREDDIT - PICS - TIFU - WORLDNEWS - FUNNY - GAMING - NEWS - MOVIES - TODAYILEARNED - TWOXCHROMOSOMES - VIDEOS - EXPLAINLIKEIMFIVE - MILDLYINTERESTING - AWW - SCIENCE - BOOKS - LIFEPROTIPS - OLDSCHOOLCOOL - JOKES - DATAISBEAUTIFUL - GIFS - MEMES -
    MORE »
  </span>
  </div>
  <div class="w-100 bottom-banner p-0">
  <span class="w-100 bottom-banner">
    <img src="https://www.redditstatic.com/icon.png" class="p-0" >
    <img src="./assets/images/reddit.png">
    <p class=" p-0 m-0 ml-3 w-10">PAGE NOT FOUND</p>
  </span>
    <div class="center-image">
      <img src="https://www.redditstatic.com/reddit404b.png" alt="">
      <p class="p-n-f mt-3 mb-1 p-0">page not found</p>
      <p class="p-n-f-d">the page you requested does not exist<p>
    </div>

  </div>
</div>
</body>
