@font-face {
  font-family: 'benton';
  src: url('../fonts/bentonsans_regular-webfont.woff') format('woff');
  src: url('../fonts/bentonsans_regular-webfont.woff2') format('woff2')
}
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.container{
  width: 77%;
}
*{
  border: 0px solid
}
.section-title{
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 800;
  color: #383838;
  border: 0;
  font-size:14px;
 }
.card{
  width: 90%;
}
//filtros

.hot-icon{
  width: 20px;
  height:20px;
  filter: invert(30%) sepia(84%) saturate(3395%) hue-rotate(189deg) brightness(94%) contrast(101%);
}
.filter-icon{
  width: 25px;
  height:25px;
  filter: invert(62%) sepia(9%) saturate(109%) hue-rotate(161deg) brightness(85%) contrast(90%);
}
.filter-button{
  border-radius:9999px;
  color: #86898b;
  font-weight:bold;
  border: 0;
  background-color: rgba(255, 255, 255, 0);
}
.filter-button:hover{
  background-color: #ededed
}
.hot-button{
  border-radius:9999px;
  background-color: #f4f5f6;
  color: #0078d2;
  font-weight:bold;
  border: 0;
}
.hot-button:hover{
  background-color: #ededed
}
#dropdownMenuButton{
  border-radius:9999px;
  background-color: #f4f5f6;
  color: #0078d2;
  font-weight:bold;
  border: 0;
}

//recap
.w-100{
  border: 1px solid #b4b4b4;
}
.update-from-reddit{
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .5px;
  text-transform: uppercase;
  line-height: 16px;
  margin-bottom: 12px;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #000000;
}
.update-body {
  border: 1px solid
}
.narval{
  height:64px;
}
.recap{
  border: 1px solid #ababab;
}
.recap-title{
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
  font-size: 16px;
}
.recap-desc{
  font-family: 'IBM Plex Sans', sans-serif;
  color: #6a6f6f;
  font-size: 12px;
}



