<app-navbar></app-navbar>

<div class="container mt-5 pt-3">

  <p class="section-title  mb-1 mt-0 ">Trending today</p>

  <div class="row justify-content-sm-left ">
    <app-trending></app-trending>
    <app-trending></app-trending>
    <app-trending></app-trending>
    <app-trending></app-trending>
  </div>

  <p class="section-title">Popular posts</p>

  <div class="row justify-content-left ml-1">

    <div class="col-xl-7 mr-3">

      <div class="row justify-content-left mb-4">
        <div class="card w-100 p-3">
          <div class="row justify-content-between pl-3 pr-3">
            <p class="align-self-lg-start section-title update-from-reddit">UPDATES FROM REDDIT</p>
            <i class="bi bi-x-lg"></i>
          </div>
          <div class="card recap align-self-center">
            <div class="row justify-content-between pl-4 pr-5 pb-2 pt-2">
              <div class="w-75">
                <p class="recap-title pt-1 mb-0">Your Reddit Recap is here</p>
                <p class="recap-desc mb-0">Reveal your best comment, revisit your favorite communities, unlock your
                  superpower and more.</p>
              </div>
              <img class="narval" src="https://i.redd.it/8yb4biw7bf481.png">
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-left align-items-md-center filters mb-2 p-0">
        <div class="card w-100">
          <div class="card-body row justify-content-between m-0 pl-0 pt-2 pb-2">
            <div class="col-10">
              <button class="btn btn-primary hot-button mr-1" type="button">
                <img alt="" class="hot-icon" src="./assets/images/hot.svg"/>
                Hot
              </button>
              <button aria-expanded="false" aria-haspopup="true" class="btn btn-secondary mr-1" data-toggle="dropdown"
                      id="dropdownMenuButton" type="button">
                Everywhere
                <i class="bi bi-chevron-down"></i>
              </button>
              <div aria-labelledby="dropdownMenuButton" class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
              <button class="btn btn-primary new-button filter-button mr-1" type="button">
                <img alt="" class="filter-icon" src="./assets/images/new.svg"/>
                New
              </button>
              <button class="btn btn-primary top-button filter-button mr-0" type="button">
                <img alt="" class="filter-icon" src="./assets/images/top.svg"/>
                Top
              </button>
              <button class="btn btn-primary top-button filter-button m-0" type="button">
                <i class="bi bi-three-dots filter-icon ml-1 "></i>
              </button>
            </div>
            <div class="col-2 align-self-center pd-0 pl-4">
              <img alt="" class="filter-icon  " src="./assets/images/card.svg"/>
              <i class="bi bi-chevron-down"></i>
            </div>
          </div>
        </div>
      </div>

      <ul class="list-group list-group-flush">
        <app-posts></app-posts>
        <app-posts></app-posts>
      </ul>
    </div>


    <div class="col-4 ml-3 top ">

      <div class="card w-100 mb-4">
        <div class="card-header">
          <div class="card-img-overlay-container ">
            <div class="container-fluid ">
              <div class="row p-0">
                <h5 class="trending-title pt-5 pl-0">Como ser cruceta</h5>
              </div>
            </div>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <app-top></app-top>
          <app-top></app-top>
        </ul>
        <button class="btn btn-primary m-2">View All</button>
        <div class="row m-2">
          <button class="btn btn-primary bottom-btn mr-1">Top</button>
          <button class="btn btn-primary bottom-btn mr-1">Near You</button>
          <button class="btn btn-primary bottom-btn mr-1">News</button>
          <button class="btn btn-primary bottom-btn mr-1">Aww</button>
        </div>
      </div>


      <div class="card w-100 mb-4 premium">
        <div class="row m-0">
          <div class="col-2 pt-2 pl-3 pr-0 mr-1 align-self-center">
            <img alt="" src="assets/images/premium.png">
          </div>
          <div class="col-8 mt-2">
            <div class="row align-items-center font-weight-bold">
              Reddit Premium
            </div>
            <div class="row align-items-center">
              The best Reddit experience, with monthly Coins
            </div>
          </div>
        </div>
        <div class="row ml-3 mr-3">
          <button class="btn btn-premium m-2 w-100">Try Now</button>
        </div>
      </div>

      <div class="card w-100 mb-4 credits">
        <div class="row m-0 pt-1">
          <div class="col m-0 ">
            <p class="p-0 m-0">Help</p>
            <p class="p-0 m-0">Reddit Coins</p>
            <p class="p-0 m-0">Reddit Premium</p>
            <p class="p-0 m-0">Reddit Gifts</p>
            <p class="p-0 m-0">Communities</p>
            <p class="p-0 m-0">Rereddit</p>
            <p class="p-0 m-0">Topics</p>
          </div>
          <div class="col m-0">
            <p class="p-0 m-0">About</p>
            <p class="p-0 m-0">Careers</p>
            <p class="p-0 m-0">Press</p>
            <p class="p-0 m-0">Advertise</p>
            <p class="p-0 m-0">Blog</p>
            <p class="p-0 m-0">Terms</p>
            <p class="p-0 m-0">Content Policy</p>
            <p class="p-0 m-0">Privacy Policy</p>
            <p class="p-0 m-0">Mod Policy</p>
          </div>
        </div>
        <div class="row ml-2 mt-3">
          Not Reddit Inc © 2022 . All rights reserved
        </div>
      </div>

    </div>

  </div>
</div>
